    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 56px;
        padding: 0px 32px;
        position: absolute;
        z-index: 1;
        box-sizing: border-box;
        >:nth-child(1){
            width: 92px;
            height: 16px;
        }
    }
    .call{
        display: flex;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        color: var(--color1);
        gap: 0.5rem;
    }
   