.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .copyright{
        display: flex;
        align-items: center;
        height: 75px;
        padding: 0px 32px;
        color: var(--color6);
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        line-height: 20px;
    }
    hr{
        border: 1px solid var(--color2);
        width: 100%;
    }
}