.footer{
    display: none;
}

@media screen and (min-width:1060px) {

    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 649px;
        left: 121px;
    
    .copyright{
        display: flex;
        align-items: center;
        height: 75px;
        color: var(--color6);
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        line-height: 20px;
    }
    hr{
        display: none;
    }
    }
}