:root{
    --color1: #6F7DFF;
    --color2: #E4E8F7;
    --color3: #EF3340;
    --color4: #676F8F;
    --color5: #ffffff;
    --color6: #A9AFD9;
    --color7: #F7F8FC;
    --color8: #494F66;
    --color9: #FF1C44;
    --color10: #A3ABCC;
    --color11: #C5CBE0;
    --color12: #43B748;
    --color13: #EDEFFC;
}
.App{
    height: 100vh;
}